<header>
    <h1><%= title %></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/toDos">Todo List</a></li>
            <li><a href="/users/admin">Admin</a></li>
            <li class="reslog"><a href="/">Logout</a></li>
        </ul>
    </nav>
</header>
