<header>
    <h1><%= title %></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/toDos">To Dos</a></li>
            <li><a href="/users/admin">Admin</a></li>
            <li class="reslog"><a href="/users/register">Register</a></li>
            <li class="reslog"><a href="/users/login">Login</a></li>
        </ul>
    </nav>
</header>

