<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('includes/menu'); -%>

    <main>
        <h2>This site has the co-ro-ro!</h2>
    </main>

  </body>
</html>
