<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('includes/menu'); -%>

        <main>
            <p><%= message %> <%= who %></p>
            <input id="logout" type="submit" value="Logout" />

            <h2>Create Todo</h2>
            <div class="wrapperCreate"></div>
        </main>
    </body>
</html>
