<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('includes/loggedin'); -%>

        <main>
            <div class="wrapperCreate">
                <a href="/">Logout</a>
            </div>
            <h2>Create Todo</h2>
            <div class="wrapperCreate">
                <form id="createTodo" action="/users/toDos" method="POST">
                    <label>Title:</label>
                    <input type="text" name="title" />
                    <label>Todo:</label>
                    <input type="text" name="todo" />
                    <label>Created:</label>
                    <input type="date" name="created" />
                    <label>Deadline:</label>
                    <input type="date" name="deadline" />
                    <input type="submit" value="Add your Todo" />
                </form>
            </div>

            <div class="wrapperCreate">
                <h2>Added Todo</h2>
            </div>
        </main>
    </body>
</html>
