<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('includes/loggedin'); -%>

        <main>
            <p><%= message %> <%= who %></p>
            <div class="wrapperCreate">
                <a href="/">Logout</a>
            </div>
            <h2>Userpanel</h2>
            <div class="userpanel">
                <a href="toDos">Todo List</a>
            </div>
        </main>
    </body>
</html>
