* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
header {
    text-align: left;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
li {
    display: block;
    text-align: center;
    padding: 5px;
}
li a {
    display: block;
    color: #202020;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #fff;
}
.reslog {
    display: block;
    text-align: center;
}
.reslog a {
    display: block;
    border-radius: 5px;
    color: #fff;
    background-color: #202020;
}
.reslog a:hover {
    display: block;
    border: 1px solid #202020;
    color: #202020;
    background-color: #fff;
    padding: 14px 16px;
}
main {
    padding: 50px;
}
h1 {
    font-size: 30px;
    color: #202020;
    padding: 14px 16px; 

}
h2 {
    font-size: 20px;
    font-weight: bold;
    color: #202020;
    padding-bottom: 20px;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    color: #202020;
}
h3:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
}
p {
    padding-bottom: 20px;
}
button {
    background-color: #202020;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 0px;
    cursor: pointer;
    width: 100%;
}
table,
td,
th {
    color: #202020;
    border: 1px solid #202020;
    padding: 10px;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}
.wrapperCreate {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 20px;
}
label {
    /* Other styling... */
    font-weight: 600;
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
input {
    /* Other styling... */
    text-align: left;
    float: right;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 5px;
}
input[type='submit'] {
    background-color: #202020;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 0px;
    cursor: pointer;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 5px;
}
#logout {
    width: 10%;
    float: left;

}

